<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title th:text="|#{title} - admin|"></title>
</head>

<body>

    <div class="container-fluid p-0 m-0">

        <header th:include="~{admin/layouts/header}"></header>

        <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${ message }">
        <span th:text="${ message }"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

        <th:block th:if="${ fragment }">
            <th:block th:include="~{|admin/fragments/${fragment}|}"></th:block>
        </th:block>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    <script>
        (function () {
            const file = document.querySelector("input[type=file]");
            file.addEventListener("change", function (e) {
                document.querySelector("form > div.form-group.custom-file > label.custom-file-label").innerHTML = e.target.files[0].name;
                const img = document.getElementById("imageToSrc");
                const fr = new FileReader();
                fr.onload = function () {
                    img.src = fr.result
                }
                fr.readAsDataURL(e.target.files[0]);
            });
        })()
    </script>
</body>

</html>