<section id="articles">

	<th:block th:each="article : ${ articles }">

		<article>
			<figure>
				<img
					th:src="@{ |/images/${ article.imgLink }| }"
					th:alt="@{ ${ article.name } }">
				<figcaption>
					<h4 th:text="${ article.getName() }"></h4>
					<p th:text="${ article.shortDesc }"></p>
				</figcaption>
			</figure>
		</article>
		
	</th:block>
</section>