<section id="form">
    <form th:action="@{ /inscription }" method="post" th:object="${user}">
        <div>
            <label th:for="lastName">Nom</label>
            <input type="text" th:field=*{lastName} placeholder="Nom...">
            <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color: red"></div>
        </div>
        <div>
            <label th:for="firstName">Prénom</label>
            <input type="text" th:field=*{firstName} placeholder="Prenom...">
            <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color: red"></div>
        </div>
        <div>
            <label th:for="email">E-Mail</label>
            <input type="email" th:field=*{email} placeholder="E-Mail...">
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red"></div>
            <div th:if="${emailExists}" th:text="${emailExists}" style="color: red"></div>
        </div>
        <div>
            <label th:for="password">Mot de passe</label>
            <input type="password" th:field=*{password} placeholder="Mot de passe...">
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red"></div>
        </div>
        <div>
            <button type="submit">Valider</button>
        </div>
    </form>
</section>