<section id="form">
	<form th:action="@{ /login }" method="post" th:object="${user}">
		<div>
			<label th:for="email">E-Mail</label>
			<input type="email" th:field=*{email} placeholder="E-Mail...">
			<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red"></div>
        </div>
        <div>
            <label th:for="password">Mot de passe</label>
            <input type="password" th:field=*{password} placeholder="Mot de passe...">
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red"></div>
		</div>
		<div th:if="${accountError}" th:text="${accountError}" style="color: red"></div>
        <div>
            <button type="submit">Valider</button>
        </div>
    </form>
</section>