<!DOCTYPE html>
<html lang="en" xmlns="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{ /css/style.css }">
    <title>Bases Spring</title>
</head>

<body>

    <div class="container">

        <th:block th:insert="~{ fragments/layouts/header }"></th:block>

        <th:block th:if="${ fragment }">
            <th:block th:insert="~{ |fragments/${ fragment }| }"></th:block>
        </th:block>



        <th:block th:insert="~{ fragments/layouts/footer }"></th:block>

    </div>

</body>

</html>