<!DOCTYPE html>
<html lang="en" xmlns="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Première page html</h1>
    <h1 th:text="${ firstname }"></h1>
    <h1 th:text="${ age }"></h1>

    <h3 th:if="${ age } > 18">Tu es majeur !</h3>

    <th:block th:if="${ whichHeader }">
        <div th:replace="~{ fragments/layouts/header :: ${ whichHeader } }"></div>
    </th:block>

    <div>
        <p th:each="str : ${ list }" th:text="${ str }"></p>
    </div>

<form th:action="@{ /form }" method="post">
    <input type="text" name="search"><br>
    <button type="submit">Rechercher</button>
</form>

</body>

</html>