<header xmlns="http://thymeleaf.org">
    <nav>
        <ul>
            <li><a th:href="@{ / }">Home</a></li>
            <li><a th:href="@{ /articles }">Articles</a></li>
            <li th:unless="${ session.user }"><a th:href="@{ /inscription }">Inscription</a></li>
            <li th:if="${ session.user }"><a th:href="@{ /logout }">Se déconnecter</a></li>
            <li th:unless="${ session.user }"><a th:href="@{ /login }">Se connecter</a></li>
        </ul>
    </nav>
</header>