<form class="p-5" th:action="@{|/admin/articles${action}|}" method="post" th:object="${article}"
    enctype="multipart/form-data" xmlns:th="http://www.thymeleaf.org">

    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${ errorMessage }"
        th:text="${ errorMessage }">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="form-group">
        <label for="ref">Ref</label>
        <input type="text" class="form-control" th:field="*{ref}" disabled>
    </div>

    <div class="form-group">
        <label for="name">Nom : </label>
        <input type="text" class="form-control" th:field="*{name}">
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    </div>

    <img th:src="@{|/images/*{imgLink}|}" alt="" width="100px" height="auto" id="imageToSrc"><br>
    <div class="form-group custom-file">
        <label for="imgLink" class="custom-file-label">Image : </label>
        <input type="file" accept="image/jpeg,image/png,image/heic,image/webp" class="custom-file-input" id="image"
            name="image">
    </div>
    <input type="hidden" th:field="*{imgLink}">

    <div class="form-group">
        <label for="shortDesc">Description Courte : </label>
        <input type="text" class="form-control" th:field="*{shortDesc}">
    </div>

    <div class="form-group">
        <label for="longDesc">Description Longue : </label>
        <textarea class="form-control" th:field="*{longDesc}"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Envoyer</button>
</form>