<table class="table table-striped" xmlns:th="www.thymeleaf.org">
    <thead>
        <tr>
            <th scope="col">Ref.</th>
            <th scope="col">Nom</th>
            <th scope="col">Lien Image</th>
            <th scope="col">Description courte</th>
            <th scope="col">Description longue</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="art : ${articles}" th:object="${art}">
            <th scope="row" th:text="*{ref}"></th>
            <td th:text="*{name}"></td>
            <td th:text="*{imgLink}"></td>
            <td th:text="*{shortDesc}"></td>
            <td th:text="*{longDesc}"></td>
            <td>
                <a th:href="@{|/admin/articles/*{ref}?action=update|}">
                    <button class="btn btn-primary">Modifier</button>
                </a>
                <br><br>
                <a th:href="@{|/admin/articles/*{ref}?action=delete|}">
                    <button class="btn btn-danger">Supprimer</button>
                </a>
            </td>
        </tr>
    </tbody>
</table>